* {
    display: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

@media only screen and (max-width: 900px) {
    .logo {
        width: 35%;
    }
    .profile {
        display: contents;
    }

    .table {
        width: 100%;
    }

    .video {
        width: 100%;
        height: 300px;
    }
    .form-inline {
        display: grid;
        background-color: none;
    }
    .form{
    margin:auto;
    width:70%;
    padding:17px
    }
    .profile_desktop{
        display:none
    }

}

@media (min-width:950px) and (max-width:4000px) {
    .logo {
        width: 15%;
    }
    .profile {
        display:none
    }
    .profile_desktop{
        display:inline-flex
    }
    .person{
        padding:10px
    }
    .logout{
        padding:15px
    }
    .table {
        width: 45%;
    }
    .video {
        width: 55%;
    }
    .nav-link {
        text-align: left;
    }
    .form{
    margin:auto;
    width:40%
    }
}

.navbar-toggler:focus {
    outline: none;
}

.nav-link {
    background-color: #051d5b;
    color: #fff;
}

.courses {
    text-decoration: none;
    color: #051d5b;
    font-size: 22px;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #0f3085;
    color: #fff;
    box-shadow: 3px 3px 3px 1px #888;
}

.footer {
    background-color: #ffce33;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

