{% extends 'base1.html' %}
{% load static %}
{% block content %}
<style>
    .left{
    background-color: #ffce33;
    border-radius: 50%;
    border: 2px solid yellow;
    transition: all 0.3s ease 0s;
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-md-7 p-1">
             <h3 class="p-4"><a href="{% url 'pages:sales' %}"><img class="left p-1" src="https://img.icons8.com/windows/34/000000/circled-left-2.png"/></a>Отдел Продаж (Веб Сервисы)</h3>
            </div>
            <div class="col-md-5">
<!--            <a href=""><p style="font-size: 22px;">+999999999</p></a>-->
<!--           <a href=""><p style="font-size: 20px;font-weight: 500;"><img src="https://img.icons8.com/color/28/000000/telegram-app&#45;&#45;v5.png"/>Мы в телеграмме</p></a> -->
            </div>
          </div>
          <video class="video"  preload="none" controls controlsList="nodownload poster">
            <source src="{% static './sales department/Bright Media Web Hizmatlari.mp4' %}">
        </video>
  <form action="/action_page.php" >
  <p>Please select your gender:</p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label>

  <br>

  <p>Please select your age:</p>
  <input type="radio" id="age1" name="age" value="30">
  <label for="age1">0 - 30</label><br>
  <input type="radio" id="age2" name="age" value="60">
  <label for="age2">31 - 60</label><br>
  <input type="radio" id="age3" name="age" value="100">
  <label for="age3">61 - 100</label><br><br>
    </label>

            <button class="btn btn-primary">Отправить</button>
        </div>
        <br>
        <br>
        <br>
        <br>
</form>
        <br>
        <br>
        <br>
        <br>
    </div>
   <br>
{% endblock %}